Build/*
Library/*
Temp/*
obj/*

.DS_Store
AfterQuit

Thumbs.db
*.db
*.DotSettings
*.DotSettings.user
*.userprefs
*.sln
*.csproj
*.unityproj
*.pidb
*.suo
*.orig
*.orig.meta
.vscode

*.blend1
*.blend1.meta
*.blend2
*.blend2.meta

*.cd
